{# templates/index.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
<div id="admin">
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">
			{{ message }}
		</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-warning">
			{{ message }}
		</div>
	{% endfor %}
	<div id="map"></div>
	<h1>Create new Marker</h1>
	<hr>
	<form method="post" action="/admin/new">
		<div class="row">
			<div class="col-md-3">
				<label for="type">Choose Marker Type</label>
			</div>
			<div class="col-md-7">
				<select name="type" id="markertypeselect">
					{% for mt in markerTypes %}
						{% if mt.children|length < 1 %}
				 			<option value="{{ mt.id }}">{{ mt.title }}</option>
						{% endif %}
				 	{% endfor %}
				</select>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<label for="x">x coordinate</label>
			</div>
			<div class="col-md-7">
				<input type="text" name="x" style="width:100px; margin-bottom: 5px"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="z">z coordinate</label>
			</div>
			<div class="col-md-7">
				<input type="text" name="z" style="width:100px"></input>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<label for="title">Title</label>
			</div>
			<div class="col-md-7">
				<input type="text" name="title"></input>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<label for="description">Description</label>
			</div>
			<div class="col-md-7">
				<textarea name="description" rows="4" cols="50"></textarea>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<label for="image">Image</label>
			</div>
			<div class="col-md-7">
				<input type="text" name="image"></input>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label for="image_author">Image Author</label>
			</div>
			<div class="col-md-7">
				<input type="text" name="image_author"></input>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<label for="icon">Icon</label>
			</div>
			<div class="col-md-7">
				<input type="text" name="icon" value="{{ markerTypes[0].icon }}" id="markertypeicon"></input>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<label for="icon_width">Icon Width</label>
			</div>
			<div class="col-md-7">
				<input type="text" name="icon_width" placeholder="{{ markerTypes[0].iconwidth }}" style="width: 80px" id="markertypeiconwidth"></input>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<label for="icon_height">Icon Height</label>
			</div>
			<div class="col-md-7">
				<input type="text" name="icon_height" placeholder="{{ markerTypes[0].iconheight }}" style="width: 80px" id="markertypeiconheight"></input>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<label for="icon_anchor">Icon Anchor</label>
			</div>
			<div class="col-md-7">
				<input type="text" name="icon_anchor" placeholder="{{ markerTypes[0].iconanchor }}" style="width: 80px" id="markertypeiconanchor"></input>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-3">
				<label for="icon_anchor">Underground</label>
			</div>
			<div class="col-md-7">
				<input type="checkbox" name="underground"></input>
			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-success">Go</button>
	</form>
</div>
<div id="markerTypes">
	{% for mt in markerTypes %}
		{% if mt.displayInControls %}
			<div
			data-id="{{ mt.id }}"
			data-title="{{ mt.title }}"
			data-parent="{% if mt.parent %}{{ mt.parent.id }}{% endif %}"
			data-icon="{{ mt.icon }}"
			data-icon-width="{{ mt.iconwidth }}"
			data-icon-height="{{ mt.iconheight }}"
			data-icon-anchor="{{ mt.iconanchor }}"
			data-disabled="{{ mt.disabled }}"
			></div>
		{% endif %}
	{% endfor %}
</div>
{% endblock %}
