<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="flattr:id" content="vjdoyj"> 
        <title>{% block title %}Interactive Meadow Map{% endblock %}</title>
        <link rel="shortcut icon" type="image/png" href="{{ asset('img/favicon.png') }}"/>
        {% block stylesheets %}
            <!-- Bootstrap, FontAwesome, Nunito Sans -->
			<link href="{{ asset('fa/css/all.css') }}" rel="stylesheet">
        	<link href="{{ asset('twbs/bootstrap/dist/css/bootstrap.css') }}" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap" rel="stylesheet">
             <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
			   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
			   crossorigin=""/>

            <!-- Custom CSS -->
            <link href="{{ asset('css/main.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- JQuery, Leaflet -->
        	<script src="{{ asset('js/jquery.js') }}"></script>
			<script>L_DISABLE_3D = true;</script>
          <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
			   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
			   crossorigin=""></script>
          <script src="{{ asset('js/easyprint/bundle.js') }}"></script>
			   <script src="{{ asset('js/jquery-ui.min.js') }}"></script>
			   <script src="{{ asset('js/jquery.awesome-cursor.js') }}"></script>

            <!-- Custom JS -->
            <script src="{{ asset('js/main.js') }}"></script>
            
            <!-- Cookie Notice -->
            <script src="{{ asset('js/cookie.notice.js') }}"></script>
            <!-- <script>
                new cookieNoticeJS({
                   // Localizations of the notice message
                   'messageLocales': {
                     'en': 'Um Ihnen ein optimales Erlebnis auf unserer Website zu bieten, nutzen wir Cookies. Lesen Sie mehr über unsere Verwendungszwecke in unserer'
                   },
                  
                   // Localizations of the dismiss button text
                   'buttonLocales': {
                     'en': 'Akzeptieren'
                   },
                   
                   // Shows the "learn more button (default=false)
                   'learnMoreLinkEnabled':true,
                   
                   // The href of the learn more link must be applied if (learnMoreLinkEnabled=true) 
                   'learnMoreLinkHref':'/privacy',
                   
                   // Text for optional learn more button
                   'learnMoreLinkText':{
                       'en':'Datenschutzerklärung.'
                   },
                   
                   // Dismiss button background color
                   'buttonBgColor': '#fff',  
                   
                   // Dismiss button text color
                   'buttonTextColor': '#196bba', 
                     
                   // Notice background color
                   'noticeBgColor': '#196bba', 
                      
                   // Notice text color
                   'noticeTextColor': '#fff', 
                   
                   // the lernMoreLink color (default='#009fdd') 
                   'linkColor':'#dddddd'
                      
                }); -->
</script>
        {% endblock %}
    </body>
</html>
