{# templates/index.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
<div id="admin">
        <h2>Imprint</h2>
        
        Interactive Meadow Map is a web service hosted in Germany and thus requires an "Impressum". So, let's get it over and done with. The service is provided by:<br><br>
        Nicholas Ulmke<br>
        August-Bebel-Str. 25<br>
        63225 Langen<br>
        Germany<br><br>

        Glad about any fan mail ¯\_(ツ)_/¯

</div>
{% endblock %}
