{# templates/index.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
<div id="loading-overlay">
	<img src="/img/spinner.svg" style="width: 25px" /> <span>Preparing Download...</span>
</div>
<div id="map"></div>
<div id="menu">
	<div id="sidemenu-marker">
		<div class="btn-marker">
			<div class="btn-marker-actualbutton">
				<i class="fas fa-map-marker-alt"></i> <span class="btn-marker-text">Add Marker</span>
			</div>
			<div class="marker-subcontent">
				<div class="marker-color-buttons">
					<div class="marker-color-button active" data-color="red">
						<i class="fas fa-map-marker-alt" style="color: #FF4136"></i>
					</div>
					<div class="marker-color-button" data-color="green">
						<i class="fas fa-map-marker-alt" style="color: #2ECC40"></i>
					</div>
					<div class="marker-color-button" data-color="yellow">
						<i class="fas fa-map-marker-alt" style="color: #FFDC00"></i>
					</div>
					<div class="marker-color-button" data-color="blue">
						<i class="fas fa-map-marker-alt" style="color: #0074D9"></i>
					</div>
					<div class="marker-color-button" data-color="orange">
						<i class="fas fa-map-marker-alt" style="color: #FF851B"></i>
					</div>
					<div class="marker-color-button" data-color="purple">
						<i class="fas fa-map-marker-alt" style="color: #B10DC9"></i>
					</div>
				</div>
				Click a position on the map or paste coordinates from the game. Coordinates can be copied to your clipboard by pressing <strong>Shift + G</strong> while in game.
				<div class="btn-clear">
					Clear all
				</div>
				<input type="text" class="input-coordinates" placeholder="(x,y,z)"/>
				<div class="btn-insert">
					Insert
				</div>
			</div>
		</div>
	</div>
	<div id="sidemenu-export">
		<div class="btn-export">
			<i class="fas fa-download"></i> Export
		</div>
	</div>
	<div class="menu-top row">
		<div class="col-md-6">
			<h1>Interactive Meadow Map <small>by Nemo and c42</small></h1>
		</div>
		<div class="col-md-6">
			<div class="togglemenu">
				<span>Click here to filter layers and for more information</span> <i class="fas fa-chevron-up"></i>
			</div>
		</div>
	</div>
	<div class="menu-content row">
		<div class="col-md-5 menu-info">
			This purely fan-made project aims at providing Meadow users with a precise map with as many details as possible. The borders of the map and all markers are precisely positioned, using game coordinates as a reference, the maps North however corresponds to in game East. All names used on the map are not official. The use of the textures has been approved by the game developers. The map will be kept updated as new content is released. Check out our <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2276192929">page on Steam</a> for future plans. The work poured into this project is and will continue to be a hobby, if you however wish to show support, I have set up a <a href="https://flattr.com/@meadowmap">Flattr page</a> for donations to cover server costs only. We hope our map helps you navigate through the world of Meadow - see you in game!
			<div class="menu-links">
				<span>© Copyright 2021, last updated January 12th 2021</span>
				<a href="/imprint">Imprint</a>
				<a href="/privacy">Privacy</a>
				<a href="https://flattr.com/@meadowmap">Flattr</a>
				<a href="https://steamcommunity.com/sharedfiles/filedetails/?id=2276192929">Plans</a>
			</div>
		</div>
		<div class="col-md-7 menu-filters row">
			<div class="single-filters">
				<div class="filter">
					<div class="filter-upper">
						<img class="filter-icon" src="/img/icon_textures.png" />
						<label>Textures <input type="checkbox" checked data-layer="Textures"></label> <i class="filter-check fas fa-check"></i>
					</div>
				</div>
				<div class="filter">
					<div class="filter-upper">
						<img class="filter-icon" src="/img/icon_inclines.png" />
						<label>Inclines <input type="checkbox" checked data-layer="Inclines"></label> <i class="filter-check fas fa-check"></i>
					</div>
				</div>
				<div class="filter">
					<div class="filter-upper">
						<img class="filter-icon" src="/img/icon_rises.png" />
						<label>Rises <input type="checkbox" checked data-layer="Rises"></label> <i class="filter-check fas fa-check"></i>
					</div>
				</div>
				<div class="filter">
					<div class="filter-upper">
						<img class="filter-icon" src="/img/icon_foliage.png" />
						<label>Catnip and Puffballs <input type="checkbox" checked data-layer="Catnip and Puffballs"></label> <i class="filter-check fas fa-check"></i>
					</div>
				</div>
			</div>
			{% for mt in markerTypes %}
				{% if not mt.parent %}
					<div class="filter{% if mt.children|length > 0 %} col filter-parent row{% endif %}" data-id="{{ mt.id }}" {% if not mt.displayInControls %}style="display:none"{% endif %}>
						<div class="filter-upper">
							<img class="filter-icon" src="{{ mt.icon }}" />
							<label>{{ mt.title }} <input type="checkbox" {% if mt.defaultshow and not mt.disabled %}checked{% endif %} data-layer="{{ mt.title }}"></label> <i class="filter-check fas fa-check" {% if (not mt.defaultshow) or mt.disabled %}style="opacity: 0.3"{% endif %}></i>
						</div>
						{% if mt.children|length > 0 %}
							{% for child in mt.children %}
								{% if loop.index0 % 6 == 0 %}
									<div class="col filter-children-group">
								{% endif %}
									<div class="filter filter-child" data-id="{{ child.id }}" {% if not mt.displayInControls %}style="display:none"{% endif %}>
										<img class="filter-icon" src="{{ child.icon }}" />
										<label {% if child.disabled %}style="color: #ffc5c5"{% endif %}>{{ child.title }} <input type="checkbox" {% if child.defaultshow and not child.disabled %}checked{% endif %} data-layer="{{ child.title }}"></label> <i class="filter-check fas fa-check" {% if (not child.defaultshow) or child.disabled %}style="opacity: 0.3"{% endif %}></i>
									</div>
								{% if loop.index0 % 6 == 5 %}
									</div>
								{% endif %}
							{% endfor %}
							
								</div>
							
						{% endif %}
					</div>
				{% endif %}
			{% endfor %}
		</div>
	</div>
</div>
<div id="markerTypes">
	{% for mt in markerTypes %}
			<div
			data-id="{{ mt.id }}"
			data-title="{{ mt.title }}"
			data-parent="{% if mt.parent %}{{ mt.parent.id }}{% endif %}"
			data-icon="{{ mt.icon }}"
			data-defaultshow="{{ mt.defaultshow }}"
			data-disabled="{{ mt.disabled }}"
			></div>
	{% endfor %}
</div>
<div id="markers">
	{% for m in markers %}
			<div
			data-type="{{ m.type.title }}"
			data-x="{{ m.x }}"
			data-z="{{ m.z }}"
			data-title="{{ m.title }}"
			data-description="{{ m.description }}"
			data-image="{{ m.image }}"
			data-image-author="{{ m.imageAuthor }}"
			data-icon="{% if m.icon %}{{ m.icon }}{% else %}{{ m.type.icon }}{% endif %}"
			data-icon-width="{% if m.iconWidth %}{{ m.iconWidth }}{% elseif m.type.iconWidth %}{{ m.type.iconWidth }}{% elseif m.type.parent.iconWidth %}{{ m.type.parent.iconWidth }}{% else %}50{% endif %}"
			data-icon-height="{% if m.iconHeight %}{{ m.iconHeight }}{% elseif m.type.iconHeight %}{{ m.type.iconHeight }}{% elseif m.type.parent.iconHeight %}{{ m.type.parent.iconHeight }}{% else %}50{% endif %}"
			data-icon-anchor="{% if m.iconAnchor != null %}{{ m.iconAnchor }}{% elseif m.type.iconAnchor != null %}{{ m.type.iconAnchor }}{% elseif m.type.parent and m.type.parent.iconAnchor != null %}{{ m.type.parent.iconAnchor }}{% else %}25{% endif %}"
			data-disabled="{{ m.type.disabled }}"
			data-underground="{{ m.underground }}"
			data-background="{% if m.type.background %}{{ m.type.background }}{% else %}0{% endif %}"
			></div>
	{% endfor %}
</div>
{% endblock %}
