{# templates/index.html.twig #}
{% extends "base.html.twig" %}

{% block body %}
<div id="admin">
        <h1>Privacy Policy</h1>
        <h3>Preface (or tl;dr)</h3>
        Since the website is hosted from within the European Union, it requires a Privacy Policy by EU rule. Since I do not process any kind of personal data on this website, all refers to personal data that may be processed by other parties, such as my web host <a href="https://strato.de/">Strato</a> (they are generally not evil) and plugins or CDNs I use, which are Google Fonts, FontAwesome, Bootstrap CDN, jQuery and Leaflet.js. You are free to continue reading from this point onwards, but anything after this point is really just a legal formality.<br><hr>
        <p>Personal data (usually referred to just as "data" below) will only be processed by us to the extent necessary and for the purpose of providing a functional and user-friendly website, including its contents, and the services offered there.</p>
        <p>Per Art. 4 No. 1 of Regulation (EU) 2016/679, i.e. the General Data Protection Regulation (hereinafter referred to as the "GDPR"), "processing" refers to any operation or set of operations such as collection, recording, organization, structuring, storage, adaptation, alteration, retrieval, consultation, use, disclosure by transmission, dissemination, or otherwise making available, alignment, or combination, restriction, erasure, or destruction performed on personal data, whether by automated means or not.</p>
        <p>The following privacy policy is intended to inform you in particular about the type, scope, purpose, duration, and legal basis for the processing of such data either under our own control or in conjunction with others. We also inform you below about the third-party components we use to optimize our website and improve the user experience which may result in said third parties also processing data they collect and control.</p>
        <p>Our privacy policy is structured as follows:</p>
        <p>I. Information about us as controllers of your data<br>II. The rights of users and data subjects<br>III. Information about the data processing</p>
        <h3>I. Information about us as controllers of your data</h3>
        <p>The party responsible for this website (the "controller") for purposes of data protection law is:</p>
        <p>Nicholas Ulmke<br>August-Bebel-Str. 25<br>63225 Langen<br>Germany</p>
        <p>Email: nicholas.ulmke@gmail.com</p>
        <p>The controller is responsible for data protection.</p>
        <h3>II. The rights of users and data subjects</h3>
        <p>With regard to the data processing to be described in more detail below, users and data subjects have the right</p>
        <ul type="disc">
            <li>to confirmation of whether data concerning them is being processed, information about the data being processed, further information about the nature of the data processing, and copies of the data (cf. also Art. 15 GDPR);</li>
            <li>to correct or complete incorrect or incomplete data (cf. also Art. 16 GDPR);</li>
            <li>to the immediate deletion of data concerning them (cf. also Art. 17 DSGVO), or, alternatively, if further processing is necessary as stipulated in Art. 17 Para. 3 GDPR, to restrict said processing per Art. 18 GDPR;</li>
            <li>to receive copies of the data concerning them and/or provided by them and to have the same transmitted to other providers/controllers (cf. also Art. 20 GDPR);</li>
            <li>to file complaints with the supervisory authority if they believe that data concerning them is being processed by the controller in breach of data protection provisions (see also Art. 77 GDPR).</li>
        </ul>
        <p>In addition, the controller is obliged to inform all recipients to whom it discloses data of any such corrections, deletions, or restrictions placed on processing the same per Art. 16, 17 Para. 1, 18 GDPR. However, this obligation does not apply if such notification is impossible or involves a disproportionate effort. Nevertheless, users have a right to information about these recipients.</p>
        <p><strong>Likewise, under Art. 21 GDPR, users and data subjects have the right to object to the controller's future processing of their data pursuant to Art. 6 Para. 1 lit. f) GDPR. In particular, an objection to data processing for the purpose of direct advertising is permissible.</strong></p>
        <h3>III. Information about the data processing</h3>
        <p>Your data processed when using our website will be deleted or blocked as soon as the purpose for its storage ceases to apply, provided the deletion of the same is not in breach of any statutory storage obligations or unless otherwise stipulated below.</p>
    
        <h4>Server data</h4>
        <p>For technical reasons, the following data sent by your internet browser to us or to our server provider will be collected, especially to ensure a secure and stable website: These server log files record the type and version of your browser, operating system, the website from which you came (referrer URL), the webpages on our site visited, the date and time of your visit, as well as the IP address from which you visited our site.</p>
        <p>The data thus collected will be temporarily stored, but not in association with any other of your data.</p>
        <p>The basis for this storage is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest lies in the improvement, stability, functionality, and security of our website.</p>
        <p>The data will be deleted within no more than seven days, unless continued storage is required for evidentiary purposes. In which case, all or part of the data will be excluded from deletion until the investigation of the relevant incident is finally resolved.</p>
    
        <h4>Google Fonts</h4>
        <p>Our website uses Google Fonts to display external fonts. This is a service provided by Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irland (hereinafter: Google).</p>
        <p>To enable the display of certain fonts on our website, a connection to the Google server in the USA is established whenever our website is accessed.</p>
        <p>The legal basis is Art. 6 Para. 1 lit. f) GDPR. Our legitimate interest lies in the optimization and economic operation of our site.</p>
        <p>When you access our site, a connection to Google is established from which Google can identify the site from which your request has been sent and to which IP address the fonts are being transmitted for display.</p>
        <p>Google offers detailed information at</p>
        <p><a href="https://adssettings.google.com/authenticated" target="_blank" rel="noopener">https://adssettings.google.com/authenticated</a></p>
        <p><a href="https://policies.google.com/privacy" target="_blank" rel="noopener">https://policies.google.com/privacy</a></p>
        <p>in particular on options for preventing the use of data.</p>
    
        <h4>FontAwesome</h4>
        <p>In order to be able to display fonts and visual elements of our website, we use FontAwesome’s external fonts.&nbsp; FontAwesome is a service of</p>
        <p>Fonticons Inc., 6 Porter Road, Apartment 3R, Cambridge, MA 02140, USA, hereinafter referred to as "FontAwesome".</p>
        <p>When you access our website, a connection is established to the FontAwesome server in the USA in order to enable and update the display of fonts and visual elements.</p>
        <p>The legal basis is Art.&nbsp; 6 para. 1 lit. f) GDPR. Our legitimate interest lies in the optimisation and economic operation of our website.</p>
        <p>By connecting to the FontAwesome server when you access our website, FontAwesome can determine from which website your request was sent and to which IP address the font should be sent.</p>
        <p>At</p>
        <p><a href="https://fontawesome.com/privacy" target="_blank" rel="noopener">https://fontawesome.com/privacy</a></p>
        <p>FontAwesome offers further information, in particular on the options for preventing data use.</p>
    
        <h4>BootstrapCDN</h4>
        <p>We use the service BootstrapCDN, a content delivery network (“CDN”), on our website to optimise the speed of retrieval, the design and presentation of the contents of our website on different devices.&nbsp; This is a service of StackPath, LLC, 2021 McKinney Ave.&nbsp; Suite 1100, Dallas, TX 75201, USA, hereinafter simply referred to as "BootstrapCDN".</p>
        <p>In order to be able to deliver the content of our website quickly, the service uses so-called JavaScript libraries.&nbsp; Corresponding files are loaded from a BootstrapCDN server that records your IP address.&nbsp;</p>
        <p>At</p>
        <p><a href="https://www.stackpath.com/legal/master-service-agreement/#privacy">https://www.stackpath.com/legal/master-service-agreement/#privacy</a>&nbsp;&nbsp;</p>
        <p>Prospectone Sp.z.o.o. offers further data protection information.</p>
        <p>The legal basis is Art.&nbsp; 6 para. 1 lit. f) GDPR. Our legitimate interest lies in speeding up loading times and protecting our website, as well as in analysing and optimising our website.</p>
        <p>To totally prevent the execution of BootstrapCDN’s JavaScript code, you can install a so-called JavaScript blocker, such as noscript.net or ghostery.com.&nbsp; If you were to prevent or restrict the execution of the Java Script code, this can mean that for technical reasons not all the content and functions of our website may be available.</p>
    
        <h4>jQuery CDN</h4>
        <p>We use the service jQuery CDN, a Content Delivery Network ("CDN"), on our website to optimise the retrieval speed, the design and presentation of the content of our website on different devices.&nbsp;</p>
        <p>This is a service of the jQuery Foundation, hereinafter referred to as "jQuery". jQuery is distributed for the JS Foundation via the StackPath CDN.</p>
        <p>In order to be able to deliver the content of our website quickly, the service uses so-called JavaScript libraries.&nbsp; Relevant files are loaded from the CDN server if they are not already available in your browser cache when you visit another website.&nbsp; In the case of a connection to the CDN server, your IP address is recorded.&nbsp; It cannot be ruled out that a connection will be established to a server outside the EU.</p>
        <p>The legal basis is Art.&nbsp; 6 para. 1 lit. f) GDPR. Our legitimate interest lies in speeding up loading times and protecting our website, as well as in analysing and optimising our website.</p>
        <p>To totally prevent the execution of jQuery’s JavaScript code, you can install a so-called JavaScript blocker, such as noscript.net or ghostery.com. . If you were to prevent or restrict the execution of the Java Script code, this can mean that for technical reasons not all the content and functions of our website may be available.</p>
    
        <p><a href="https://www.ratgeberrecht.eu/leistungen/muster-datenschutzerklaerung.html" target="_blank" rel="noopener">Model Data Protection Statement</a> provided by <a href="https://www.ratgeberrecht.eu/" target="_blank" rel="noopener">Anwaltskanzlei Weiß &amp; Partner</a></p>
</div>
{% endblock %}
